@model IEnumerable<FriendsTown.Web.Models.NewsViewModel>
<h4>News List</h4>
<p><a asp-action="Create" class="btn btn-primary">Create News</a></p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.Street)</th>
            <th>@Html.DisplayNameFor(model => model.Number)</th>
            <th>@Html.DisplayNameFor(model => model.Reference)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.City)</td>
                <td>@Html.DisplayFor(modelItem => item.Street)</td>
                <td>@Html.DisplayFor(modelItem => item.Number)</td>
                <td>@Html.DisplayFor(modelItem => item.Reference)</td>
            </tr>    
        }
    </tbody>
</table>